VII семестр/КС - Комп'ютерні системи/Software/Eucalyptus - Version 1.10/Eucalyptus - Full/config/schema/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name = "param">
		<xs:complexType>
			<xs:attribute name="key" type="xs:integer" use="required"/>
			<xs:attribute name="value" type="xs:string"  use="required"/>
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name = "eucalyptusConfig">
		<xs:complexType>
			<xs:sequence>
	            <xs:element ref="param" maxOccurs = "unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>